<h2 class="page-header">{{#t "app_headder"}}Course Description{{/t}}

    <button class="btn btn-primary add_tool_link lm pull-right">
        {{#t "add_new_tool"}}Add Course Description{{/t}}
    </button>

</h2>
<div data-view="course_descriptions" id="course_descriptions_add"></div>
