<fieldset>
 <table>
   <tr>
      <td>
        <div style="margin-left: 10px;">
          <div> <label style="width:190px;margin-left: 95px"  for="course_price"> Slider Image Preview</label></div>
        </div>
      </td>
     <td>
       <img id="course_image" src="" style="width: 200px; min-height: 31px; max-height: 126px;margin-left: 79px;" class="thumbnail">
     </td>
   </tr>
   <tr>
     <td>
       <div> file_field :uploaded_data, style = "size =20" </div>
     <td>
   </tr>
   <tr>
      <td>
        <div style="margin-left: 10px;">
          <div><label style="width: 190px;margin-left: 95px"  for="course_price"> Slider Background Image Preview</label></div>
        </div>
      </td>
      <td>
       <img id="course_image" src="" style="width: 200px; min-height: 31px; max-height: 126px;margin-left: 79px;" class="thumbnail">
      </td>
   </tr>
  </table>
</fieldset>