<fieldset>
 <table>
   <tr>
      <td>
        <div style="margin-left: 10px;">
          <div><%= "Image Preview:  " %></div>
        </div>
      </td>
     <td>
       <img id="course_image" src="" style="width: 200px; min-height: 31px; max-height: 126px;margin-left: 79px;" class="thumbnail">
     </td>
   </tr>
    <tr>
      <td>
        <div style="margin-left: 10px;">
          <div><%= "Image :  " %></div>
        </div>
      </td>
      <td>
         <div><a href="#" class="upload_new_image_link" style="padding-top:2px;margin-right:10px;margin-left: 77px"><%= t('links.upload_image', %{Upload a new image}) %></a></div>
      </td>
    </tr>
  </table>
</fieldset>