<h2 class="page-header">{{#t "app_headder"}}Account Sliders{{/t}}

  <button class="btn btn-primary add_tool_link lm pull-right">
    {{#t "add_new_tool"}}Add Sliders{{/t}}
  </button>

</h2>
<div data-view="account_sliders" id="account_sliders_add"></div>