{{here slider images come...}}
<div data-view="sliders"></div>
<div data-view="accountStatistics"></div>
<div data-view="popularCourses"></div>
<div data-view="knowledgePartners"></div>
<div data-view="learnersReviews"></div>
<div data-view="footerView"></div>