{{here slider images come...}}
<div data-view="sliders"></div>
<div data-view="accountStatistics"></div>
<div data-view="popularCourses">
    <a href="#" id="add_popular_courses" class=edit_letter_grades_link>
        {{Add Popular Courses}}
    </a>
</div>
<div data-view="knowledgePartners">
    <a href="#" id="add_knowledge_partners" class=edit_letter_grades_link>
        {{Add knomledge partners}}
    </a>
</div>
<div data-view="learnersReviews">
    <a href="#" id="add_learners_review" class=edit_letter_grades_link>
        {{Add learners reviews}}
    </a>
</div>
<div data-view="footerView"></div>