<div data-view="sliders" id="sliders">

</div>
<div data-view="accountStatistics" style="position:absolute;margin-top: 247px;font-size: xx-small;">

</div>
<div data-view="popularCourses">
    <a href="#" id="add_popular_courses" style="margin-left: 1000px" class="edit_letter_grades_link">
        {{#t "add_popular_course"}}Add Popular Course{{/t}}
    </a>
</div>
<div data-view="knowledgePartners">
    <a href="#" id="add_knowledge_partners" style="margin-left: 1000px" class="edit_letter_grades_link">
        {{#t "add_knowledge_partners"}}Add Knowledge Partners{{/t}}
    </a>
</div>
<div data-view="learnersReviews">
    <a href="#" id="add_learners_review" style="margin-left: 1000px" class="edit_letter_grades_link">
        {{#t "add_learner_reviews"}}Add Learner Reviews{{/t}}
    </a>
</div>
<div data-view="footerView"></div>