<div class="thumbnail">
<div class="caption">
<img alt="partner" src="{{knowledge_partner_log_url}}" height="120">
    <div>
        <p>
            {{partners_info}}
        </p>
    </div>
</div>
</div>